html
  head
    title Timeline Online
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1 les cartes
    each carte in cartes
      <li>#{carte.cue} date: #{carte.rep}</li>
    
    span=erreur
  